.unity-progress-bar__container {
    min-height: 100px;
    height: 110px;
}

.unity-progress-bar__background {
    background-color: rgb(45, 50, 63);
}

.unity-progress-bar__progress {
    background-color: rgb(155, 206, 122);
}

.low {

background-color: rgb(237, 34, 36)

}

.normal {

background-color: rgb(155, 206, 122);

}
